body {
  padding: 0;
  text-align: center;
  background-color: #e5e5e5;
}

#header {
  width: 100%;
  max-height: 109px;
  background-color: #0096c7;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0%;
  z-index: 10;
}

#headl {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  min-width: 200px;
  max-width: 525px;
}

#mnhdr {
  z-index: 10;
  display: flex;
  flex-direction: row;
  padding: 0%;
  margin-right: 0;
}

a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  width: 40px;
}

.wrapper .menu-btn {
  left: 20px;
  top: 10px;
  background: #0096c7;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 10;
  border: 1px solid #0096c7;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#btn:checked~.menu-btn {
  left: 7px;
}

.wrapper .menu-btn i {
  position: absolute;
  transition: all 0.3s ease;
}

label {
  font-size: 2em;
  margin: 2rem;
}

#sidebar {
  padding: 10px;
  position: fixed;
  background: #0096c7;
  height: 100%;
  width: 250px;
  left: -500px;
  transition: all 0.25s ease;
}

#btn:checked~#sidebar {
  left: 0;
}

#sidebar .profile {
  border-bottom: 1px solid #222;
}

#uname {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

#sidebar .list-items {
  padding: 5px;
  font-weight: 600;
  font-size: larger;
  background: #0096c7;
}

#historyData p {
  color: white;
  border: 1px solid #0096c7;
  font-size: 1rem;
  font-weight: 600;
}

#historyData p:hover {
  color: #000000;
  background-color: #fff;
  border: 1px solid #fafafa;
  border-radius: 20rem;
}

#sidebar .list-items p {
  padding-left: 10;
  padding-right: 10;
  padding-top: 5;
  padding-bottom: 5;
  border-top: 1px solid #0096c7;
  border-bottom: 1px solid #0096c7;
  transition: all 0.3s ease;
}

#sidebar .list-items a {
  color: #fff;
  font-size: larger;
}

#sidebar .list-items p:hover {
  border-top: solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px rgba(255, 255, 255, 0.176);
}

.smallCont {
  border-radius: 0.5rem;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
}

.smallCont1 {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: x-large;
  color: #fff;
}

.smallCont2 {
  display: flex;
  margin-left: 48px;
  align-items: center;
}



#img1d {
  width: 14%;
  margin-left: 2rem;
}

#img2d {
  width: 60%;
}

#searchbar {
  display: flex;
  height: 40px;
  color: white;
  width: 100%;
}

#search {
  text-align: center;
  background-color: white;
  border: none;
  border-top-left-radius: 20rem;
  border-bottom-left-radius: 20rem;
  font-family: inherit;
  font-size: 1.5rem;
  outline: 0;
  padding: 1rem;
  padding-right: 0;
  width: 100%;
}

#searchbtn,
.searchimg {
  background-color: white;
  align-self: center;
  height: 40px;
  padding: 0%;
  border: 0rem;
  border-top-right-radius: 20rem;
  border-bottom-right-radius: 20rem;
  text-shadow: none;
}

#filters {
  display: flex;
}

#filters select {
  font-size: larger;
  color: white;
  background-color: #0096c7;
  border: 0;
  justify-content: space-between;
}

#img1d,
#img2d {
  display: block;
}

#img1m,
#img2m {
  display: none;
}

#navigationm {
  display: none;
}

#navigationd {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

#mt {
  margin-left: 9.5rem;
}

#srch {
  padding-left: 30px;
  padding-right: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navigationd a {
  padding: 4px;
  font-size: x-large;
  color: white;
}

#loading {
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

#section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  padding-top: 120px;
}

#container {
  background-color: white;
  border-radius: 16px;
  padding: 10px;
  width: 100%;
  max-width: 65rem;
}

#containerp {
  max-width: 65rem;
  background-color: white;
  border-radius: 16px;
}

.item {
  margin: 0.5rem;
  max-height: 15rem;
  align-items: center;
  height: 100%;
  width: 100%;
}

.item a {
  display: flex;
  flex-direction: row;
}

#proimg {
  align-items: center;
  align-content: center;
}

.priceTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyName {
  overflow: hidden;
  max-height: 1.9rem;
}

.productName {
  overflow: hidden;
  max-height: 1.615rem;
}

.description {
  overflow: hidden;
  max-height: 4.4rem;
  margin-bottom: 0rem;
}

.middle {
  align-items: center;
  align-content: center;
  text-align: left;
  flex-grow: 1;
}

.item-img {
  max-height: 8rem;
  max-width: 12rem;
  margin: 1rem;
}

.item-logo {
  width: 6rem;
}

#home {
  width: 100%;
  padding: 0;
  margin: 0;
}

#cns {
  border-radius: 15px;
  width: 100%;
}

#tvd {
  width: 70%;
}

#vd {
  background-image: url(laptop.png);
  padding: 2.5% 1% 2.5%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 100px;
}

#showMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#history {
  width: 760px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  min-height: 1000px;
}

@media (max-width: 768px) {
  #showMoreContainer {
    width: 100%;
  }
}

#history a svg {
  margin-right: 20px;
}

#history a {
  text-align: left;
  padding: 10px;
}

#history a:hover {
  color: #fff;
  background-color: #0096c7;
  border-radius: 10px;
}

footer {
  padding-top: 50px;
  background-color: #000000;
  text-align: center;
}

#aboutsub {
  text-align: center;
  font-size: 20;
  font-weight: 600;
  color: white;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  padding: 0;
  font-family: italic;
}

@media (max-width: 529px) {

  #contact {
    flex-direction: column;
  }

}

#logos {
  display: flex;
  padding-left: 8rem;
  padding-right: 8rem;
  width: 100%;
  justify-content: center;
}

@media (max-width: 1200px) {
  #logos {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 1000px) {
  #logos {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 800px) {
  #logos {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#logos img {
  width: 28px;
  height: 28px;
}

#person {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.historyItem {
  display: block;
  text-align: left;
  text-decoration: none;
  color: black;
}

.srt {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 1.4em;
  align-items: center;
  margin-left: 10px;
  margin-right: 2px;
}

@media (max-width: 1400px) {

  #filters {
    margin-left: 0rem;
  }

  #mt {
    margin-left: 1rem;
  }

  .smallCont2 {
    margin-left: 1rem;
    font-size: 0.8em;
  }

  label {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 601px) and (max-width: 1072px) {
  .smallCont2 {
    font-size: 0;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  #filters {
    margin-left: 1.5rem;
  }



  #img1d {
    margin-left: 0.75rem;
  }

  #searchbar {
    margin-left: 0.5rem;
  }

  label {
    margin-left: 0.5rem;
    margin-right: 0rem;
  }

  #filters {
    margin-left: 0rem;
  }

}

@media (max-width: 650px) {
  body {
    font-size: 14px;
  }

  .productName {
    font-size: 0.7rem;
  }

  .item {
    width: auto;
  }

  .priceTag {
    margin: 10px;
  }

  #containerp {
    width: 100%;
  }

  #mnhdr {
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .searchimg {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #header {
    max-height: 175px;
    padding-bottom: 10px;
    padding-left: 0px;
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
  }

  #headl {
    min-width: 0px;
    width: 100%;
  }

  label {
    padding-top: 0.0em;
    font-size: 2.5em;
    margin: 0;
  }

  #img1m {
    width: 0%;
    height: 10%;
    margin-left: 0.4rem;
  }

  #img2m {
    width: 50%;
    height: 50%;
  }

  #searchbar {
    margin-left: 0;
  }

  #search {
    width: 100%;
    font-size: 1rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: 0;
    padding: 1rem;
    padding-right: 0rem;
  }

  #filters select {
    margin-left: 0px;
    justify-content: space-between;
  }

  #img1d,
  #img2d {
    display: none;
  }

  #img1m,
  #img2m {
    display: block;
  }

  #navigationd {
    width: 0%;
    display: none;
  }

  #navigationm {
    text-align: end;
    display: flex;
    align-items: center;
    position: fixed;
    right: 20px;
  }

  #srch {
    padding-left: 20px;
    padding-right: 20px;
  }

  #mt {
    margin-left: 4rem;
  }

  #navigationm a {
    color: white;
    padding: 0px;
  }

  .smallCont2 {
    display: flex;
    margin-left: 2.45rem;
    align-items: center;
    font-size: 0rem;
  }

  #section {
    margin-top: 2%;
    padding-top: 120px;
    width: 100%;
  }

  #loading {
    padding-top: 1rem;
  }

  #home {
    width: 100%;
  }

  #tvd {
    width: 80%
  }

  .description {
    max-height: 4.2rem;
  }

  #vd {
    background-image: url(laptop.png);
    padding: 2.5% 1% 2.5%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 100px;
  }

  #history {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    min-height: 900px;
  }

  #footer {
    width: 100%;
  }

  #logos {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .item-img{
    max-width: 4rem;
  }
}

@media (min-width: 650px) {

  #proimg {
    width: 14rem;
    min-width: 14rem;
  }

  .priceTag {
    min-width: 14rem;
    width: 14rem;
  }

}